openapi: 3.0.1
servers:
  - url: https://api.voucherly.it
    description: Voucherly API
info:
  title: Voucherly API
  termsOfService: https://legal.voucherly.it/terms/service/
  description: |
    
    ## Introduction

    The Voucherly API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API has predictable resource-oriented URLs, accepts request bodies and returns responses in [JSON-encoded](http://www.json.org/) format (using [camelCase](https://en.wikipedia.org/wiki/Camel_case) notation), and uses standard HTTP response codes, authentication, and verbs.

    You can use the Voucherly API in sandbox mode, which doesn't affect your live data or interact with the banking networks. The API key you use to authenticate the request determines whether the request is live mode or test mode.
    ```
    https://api.voucherly.it
    ```

    ## Authentication    

    The Voucherly API uses API keys to authenticate requests. Sandbox mode secret keys have the prefix `sk_sand_` and live mode secret keys have the prefix `sk_live_`. You can view and manage your API keys in the [Voucherly Dashboard](https://dashboard.voucherly.it/Developer/ApiKey).

    Your API keys carry many privileges, so be sure to keep them secure! Do not share your secret API keys in publicly accessible areas such as GitHub, client-side code, and so forth.

    Publishable keys (`pk_sand_`, `pk_live_`) are meant for client-side code and are **not** accepted by this API: every request authenticated with one is rejected with `401 Unauthorized` and the message "This API call cannot be made with a publishable API key. Use your secret key from your server."

    Provide your API key as the "Voucherly-API-Key" header. For example:
    ```cURL []
    -H  "Voucherly-API-Key: sk_sand_BYsZDnaUWfVKGwHFvLop0dc9Fp1mE8py2Mtgm5aU6IrtCiuJg9s4747J"
    ```

    All API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made over plain HTTP will fail. API requests without authentication will also fail.
  contact:
    name: API Support
    email: support@voucherly.it
  version: v1
security:
  - Voucherly-API-Key: []
tags:
  - name: company
    description: |
      A Company represents an organization or business entity to which one or more customers can be associated. This logical grouping facilitates management and reporting at the company level. Each Company can have specific information linked to it, such as default delivery addresses, pricing rules, discounts, and other company-specific configurations.
    x-displayName: Companies
  - name: customer
    description: This object represents a customer of your business. Use it to save payment and contact information, and track payments that belong to the same customer.
    x-displayName: Customers
  - name: paymentMethod
    description: |
      PaymentMethod objects represent your Customer’s payment instruments. You can use them with Payments to collect payments or save them to Customer objects to store instrument details for future payments.
    x-displayName: Payment Methods
  - name: payment
    description: |
      A Payment guides you through the process of collecting a payment from your customer. We recommend that you create exactly one Payment for each order or customer session in your system. You can reference the Payment later to see the history of payment attempts for a particular session.

      A Payment transitions through [multiple statuses](https://docs.voucherly.it/en/guides/resources/payments-lifecycle) throughout its lifetime.
    x-displayName: Payments
  - name: paymentGateway
    description: |
      A PaymentGateway is a payment processor (e.g., Visa, Mastercard, Edenred, Satispay) that Voucherly uses to settle Payments. Each merchant can enable a subset of the available gateways and configure their parameters.
    x-displayName: Payment Gateways
  - name: receipt
    description: |
      A Receipt represents a fiscal document issued for a Payment, either a sale or a void/refund. Receipts can be retrieved or downloaded as PDFs.
    x-displayName: Receipts
  - name: terminal
    description: |
      A Terminal represents a physical POS device registered with a PaymentGateway and optionally bound to a Store. Terminals are used to process card-present payments.
    x-displayName: Terminals
  - name: store
    description: Merchant locations, including POS and payment configuration.
    x-displayName: Stores
  - name: conceptStore
    description: Brands used to group Stores.
    x-displayName: Concept Stores
  - name: storeArea
    description: Merchant-defined geographical or operational Store areas.
    x-displayName: Store Areas
  - name: reports
    description: |
      Reports expose aggregated analytics over your Payments. The volumes report returns turnover broken down by PaymentGateway (and optionally by Store) for a given date range, together with the grand totals across all rows. It mirrors the Volumes report available in the Voucherly Dashboard.
    x-displayName: Reports
paths:
  /v1/companys:
    post:
      tags:
        - company
      operationId: create-company
      summary: Create a Company
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyRequest'
        required: true
      responses:
        '201':
          description: Returns a Company object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags:
        - company
      operationId: list-company
      summary: List all Companies
      parameters:
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with an `items` property that contains an array of up to `length` Companies, starting after Company `start`. Each entry in the array is a separate Company object. If no more Companies are available, the resulting array will be empty.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: An array containing the actual response elements, paginated by any request parameters.
                    items:
                      $ref: '#/components/schemas/Company'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/companys/{idOrCode}:
    get:
      tags:
        - company
      operationId: retrieve-company
      summary: Retrieve a Company
      parameters:
        - name: idOrCode
          in: path
          required: true
          description: The unique identifier (ID) or join code of the Company to retrieve.
          schema:
            type: string
        - name: include
          in: query
          description: An array of nested object to be included in response.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Addresses
      responses:
        '200':
          description: Returns a Company object if a valid identifier was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/customers:
    post:
      tags:
        - customer
      operationId: create-customer
      summary: Create a Customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
            examples:
              Default:
                summary: Create a customer
                value:
                  email: mario.rossi@voucherly.it
                  firstName: Mario
                  lastName: Rossi
              Metadata:
                summary: Create a customer with metadata
                value:
                  email: mario.rossi@voucherly.it
                  firstName: Mario
                  lastName: Rossi
                  metadata:
                    crmId: crm-4821
                    plan: premium
              Email uniqueness:
                summary: Create a customer with email uniqueness
                value:
                  email: mario.rossi@voucherly.it
                  firstName: Mario
                  lastName: Rossi
                  options:
                    requireUniqueEmail: true
        required: true
      responses:
        '201':
          description: Returns a Customer object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags:
        - customer
      operationId: list-customer
      summary: List all Customers
      parameters:
        - name: email
          description: The Customer's email address.
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with a `items` property that contains an array of up to `length` Customers, starting after Customer `start`. Passing an optional email will result in filtering to Customers with only that exact email address. Each entry in the array is a separate Customer object. If no more Customers are available, the resulting array will be empty.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: An array containing the actual response elements, paginated by any request parameters.
                    items:
                      $ref: '#/components/schemas/Customer'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/customers/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags:
        - customer
      operationId: retrieve-customer
      summary: Retrieve a Customer
      parameters:
        - name: include
          in: query
          description: An array of nested object to be included in response.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Wallet
      responses:
        '200':
          description: Returns a Customer object if a valid identifier was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - customer
      operationId: update-customer
      summary: Update a Customer
      description: Updates the specified customer by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        required: true
      responses:
        '200':
          description: Returns a Customer object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/customers/{customerId}/payment_methods:
    get:
      tags:
        - paymentMethod
      operationId: list-customer-payment-method
      summary: List a Customer's PaymentMethods
      description: Returns a paginated list of the PaymentMethods saved on the Customer, the most recent first.
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with an `items` property that contains an array of PaymentMethods, plus a `pagination` cursor. Each entry in the array is a separate PaymentMethod object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: An array containing the actual response elements, paginated by any request parameters.
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/customers/{customerId}/payment_methods/{paymentMethodId}:
    delete:
      tags:
        - paymentMethod
      operationId: delete-customer-payment-method
      summary: Delete a Customer's PaymentMethod
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
        - $ref: '#/components/parameters/PaymentMethodIdPathParam'
      responses:
        '204':
          description: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/customers/{customerId}/prepaid:
    get:
      tags:
        - customer
      operationId: retrieve-customer-prepaid-balance
      summary: Retrieve a Customer's prepaid balance
      description: Returns the prepaid balance available to a Customer for a given date, based on the prepaid policy configured on the Customer's Company.
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
        - name: date
          in: query
          required: true
          description: The date for which the prepaid balance must be evaluated, in `YYYY-MM-DD` format.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Returns a CustomerPrepaidBalance object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers.CustomerPrepaidBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/customers/{id}/wallet/movements:
    get:
      tags:
        - customer
      operationId: list-customer-wallet-movement
      summary: List a Customer's wallet movements
      description: Returns a paginated list of wallet movements (credits, debits, refunds, adjustments) recorded on the Customer's wallet.
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - name: fromDate
          in: query
          required: false
          description: Lower bound (inclusive) of the movement timestamp filter, in UTC.
          schema:
            type: string
            format: date-time
        - name: toDate
          in: query
          required: false
          description: Upper bound (inclusive) of the movement timestamp filter, in UTC.
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with an `items` property that contains an array of CustomerWalletMovement objects, plus a `pagination` cursor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: An array containing the actual response elements, paginated by any request parameters.
                    items:
                      $ref: '#/components/schemas/Customers.CustomerWalletMovement'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/customers/{customerId}/addresses:
    get:
      tags:
        - customer
      operationId: list-customer-address
      summary: List a Customer's Addresses
      description: Returns a paginated list of the Addresses of the Customer, the most recent first.
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with an `items` property that contains an array of CustomerAddress objects, plus a `pagination` cursor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: An array containing the actual response elements, paginated by any request parameters.
                    items:
                      $ref: '#/components/schemas/Customers.CustomerAddress'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - customer
      operationId: create-customer-address
      summary: Create a Customer's Address
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customers.CustomerAddress.Request'
        required: true
      responses:
        '201':
          description: Returns the created CustomerAddress object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers.CustomerAddress'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/customers/{customerId}/addresses/{addressId}:
    get:
      tags:
        - customer
      operationId: retrieve-customer-address
      summary: Retrieve a Customer's Address
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
        - $ref: '#/components/parameters/AddressIdPathParam'
      responses:
        '200':
          description: Returns a CustomerAddress object if a valid identifier was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers.CustomerAddress'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - customer
      operationId: update-customer-address
      summary: Update a Customer's Address
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
        - $ref: '#/components/parameters/AddressIdPathParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customers.CustomerAddress.Request'
        required: true
      responses:
        '201':
          description: Returns the updated CustomerAddress object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers.CustomerAddress'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - customer
      operationId: delete-customer-address
      summary: Delete a Customer's Address
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
        - $ref: '#/components/parameters/AddressIdPathParam'
      responses:
        '204':
          description: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/payments:
    post:
      tags:
        - payment
      operationId: create-payment
      summary: Create a Payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            examples:
              New customer:
                summary: Create payment with new customer
                value:
                  mode: Payment
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  customerFirstName: Mario
                  customerLastName: Rossi
                  customerEmail: mario.rossi@voucherly.it
                  country: IT
                  lines:
                    - quantity: 2
                      unitAmount: 250
                      unitDiscountAmount: 10
                      product:
                        externalId: SKU-MUFFIN-001
                        name: Muffin
                        lineType: Food
                  discounts:
                    - discountName: Coupon XSDWFE
                      amount: 200
              Existing customer:
                summary: Create payment for an existing customer
                value:
                  mode: Payment
                  customerId: cs_5vY3nKp8QwR
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  language: it
                  country: IT
                  shippingAddress: Via Alessandro Tadino 3, Milano
                  metadata:
                    orderId: order-123
                  lines:
                    - quantity: 2
                      unitAmount: 250
                      unitDiscountAmount: 10
                      product:
                        externalId: SKU-MUFFIN-001
                        name: Muffin
                        lineType: Food
                        taxRate: 10
                  discounts:
                    - discountName: Coupon XSDWFE
                      amount: 200
              New store:
                summary: Create payment on a store identified by your own ids
                value:
                  mode: Payment
                  customerId: cs_5vY3nKp8QwR
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  store:
                    externalId1: '35'
                    name: Punto vendita Milano
                  lines:
                    - quantity: 2
                      unitAmount: 250
                      product:
                        externalId: SKU-MUFFIN-001
                        name: Muffin
                        lineType: Food
              Variable weight:
                summary: Create payment with a line sold by weight and the margin that covers it
                value:
                  mode: Payment
                  customerId: cs_5vY3nKp8QwR
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  country: IT
                  lines:
                    - quantity: 2
                      unitAmount: 149
                      externalId: '5068138459'
                      product:
                        externalId: '761703'
                        name: Susine gialle
                        lineType: Food
                        unit:
                          code: kg
                          size: 0.75
                          amount: 198
                    - quantity: 3
                      unitAmount: 95
                      externalId: '5068138461'
                      product:
                        externalId: '120738'
                        name: Pasta sfoglia rotonda 230 g
                        lineType: Food
                    - quantity: 1
                      unitAmount: 500
                      product:
                        name: Margine peso variabile
                        lineType: PreauthorizationMargin
              Partial completion:
                summary: Create payment the customer can pay partially
                value:
                  mode: Payment
                  completionMode: Partial
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  country: IT
                  lines:
                    - quantity: 2
                      unitAmount: 250
                      product:
                        externalId: SKU-MUFFIN-001
                        name: Muffin
                        lineType: Food
              Auto confirm:
                summary: Create payment confirmed automatically
                value:
                  mode: Payment
                  customerId: cs_5vY3nKp8QwR
                  isAutoConfirm: true
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  country: IT
                  lines:
                    - quantity: 2
                      unitAmount: 250
                      product:
                        externalId: SKU-MUFFIN-001
                        name: Muffin
                        lineType: Food
              Preselected gateway:
                summary: Create payment redirecting straight to one payment gateway
                value:
                  mode: Payment
                  customerId: cs_5vY3nKp8QwR
                  selectedPaymentGatewayId: SATISPAY
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  country: IT
                  lines:
                    - quantity: 2
                      unitAmount: 250
                      product:
                        externalId: SKU-MUFFIN-001
                        name: Muffin
                        lineType: Food
              Transactions:
                summary: Create payment charging a gateway server-side
                value:
                  mode: Payment
                  customerId: cs_5vY3nKp8QwR
                  transactions:
                    - paymentGatewayId: PREPAID
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  country: IT
                  lines:
                    - quantity: 2
                      unitAmount: 5050
                      product:
                        externalId: SKU-MUFFIN-001
                        name: Muffin
                        lineType: Food
              Terminal:
                summary: Create payment collected on a card reader
                value:
                  mode: Payment
                  referenceId: 00011.007.451.11143
                  transactions:
                    - paymentGatewayId: POS
                      details:
                        referenceTerminalId: '00011.007'
                  completionMode: AnyTransaction
                  exceedingAmountMode: HideGateways
                  isAutoConfirm: true
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  country: IT
                  lines:
                    - quantity: 1
                      unitAmount: 140
                      product:
                        externalId: SKU-MUFFIN-001
                        name: Muffin
                        lineType: Food
              Server-to-server callback:
                summary: Create payment notified over a S2S callback
                value:
                  mode: Payment
                  customerId: cs_5vY3nKp8QwR
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  callbackUrl: https://httpbin.org/post
                  country: IT
                  lines:
                    - quantity: 2
                      unitAmount: 250
                      product:
                        externalId: SKU-MUFFIN-001
                        name: Muffin
                        lineType: Food
              Wallet:
                summary: Create a Wallet to save a payment method
                value:
                  mode: Wallet
                  redirectOkUrl: https://httpbin.org/get
                  redirectKoUrl: https://httpbin.org/get
                  customerFirstName: Mario
                  customerLastName: Rossi
                  customerEmail: mario.rossi@voucherly.it
                  country: IT
      responses:
        '201':
          description: Returns a Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/payments/{id}:
    get:
      tags:
        - payment
      operationId: retrieve-payment
      summary: Retrieve a Payment
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - name: include
          in: query
          description: An array of nested object to be included in response.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Lines
                - Discounts
                - Transactions
        - name: Voucherly-Wait-Time
          in: header
          description: Seconds that the call will be hanging, waiting for a payment status change. Maximum value is 60 seconds.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Returns a Payment object if a valid identifier was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/payments/{id}/confirm:
    post:
      tags:
        - payment
      operationId: confirm-payment
      summary: Confirm a Payment
      description: |
        Captures a `Paid` Payment. Send the lines actually delivered, or the final and food amounts, and Voucherly decides how much to capture, void or give back on each transaction.

        The Payment stays `Paid` until every operation has succeeded. When a payment gateway fails midway, the response lists the operations already done and the same request can be sent again: it settles only what is left.
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPaymentRequest'
            examples:
              Full:
                summary: Capture every authorized transaction in full
                value: {}
              Delivered lines:
                summary: Confirm the quantities delivered, crediting to the wallet the meal vouchers exceeding the food amount
                value:
                  lines:
                    - quantity: 2
                      product:
                        externalId: '8001234567890'
                    - quantity: 0
                      product:
                        externalId: '8009876543210'
                  refundMode: Credit
              Weighed pieces:
                summary: Confirm two packs of plums at the weight delivered, pairing the lines by your own line ids and releasing the preauthorization margin
                value:
                  lines:
                    - quantity: 2
                      externalId: '5068138459'
                      pieces:
                        - finalAmount: 129
                          size: 0.65
                        - finalAmount: 139
                          size: 0.7
                    - quantity: 3
                      externalId: '5068138461'
              Amounts:
                summary: Confirm lower amounts without resending the lines
                value:
                  finalAmount: 9500
                  foodAmount: 8500
              Single transaction:
                summary: Capture part of one transaction
                value:
                  transactions:
                    - id: 81aa4db7-958b-43ac-9624-1a240c394c45
                      amount: 250
      responses:
        '200':
          description: Returns a Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/PaymentConfirmationBadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/PaymentConflict'
        '422':
          $ref: '#/components/responses/PaymentConfirmationUnprocessable'
        '424':
          $ref: '#/components/responses/PaymentGatewayFailedDependency'
  /v1/payments/{id}/refund:
    post:
      tags:
        - payment
      operationId: refund-payment
      summary: Refund a Payment
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentRequest'
            examples:
              Full:
                summary: Refund the whole Payment
                value: {}
              As credit:
                summary: Refund the whole Payment into the customer's wallet
                value:
                  asCredit: true
              Single transaction:
                summary: Refund part of one transaction
                value:
                  transactions:
                    - id: 81aa4db7-958b-43ac-9624-1a240c394c45
                      amount: 250
      responses:
        '200':
          description: Returns a Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/PaymentConflict'
  /v1/payments/{id}/void:
    post:
      tags:
        - payment
      operationId: void-payment
      summary: Void a Payment
      description: Voids a Payment that has not yet been paid. Only Payments in `Requested` status can be voided.
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: Returns a Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/PaymentConflict'
  /v1/payments/{id}/receipt:
    get:
      tags:
        - payment
      operationId: download-payment-receipt
      summary: Download a Payment receipt
      description: Downloads the fiscal sale receipt issued for a Payment, as a PDF document.
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: A binary stream containing the receipt PDF.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/payments/{id}/refund_receipt:
    get:
      tags:
        - payment
      operationId: download-payment-refund-receipt
      summary: Download a Payment refund receipt
      description: Downloads the fiscal void/refund receipt issued for a Payment, as a PDF document.
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: A binary stream containing the refund receipt PDF.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/receipts/{id}:
    get:
      tags:
        - receipt
      operationId: retrieve-receipt
      summary: Retrieve a Receipt
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: Returns a Receipt object if a valid identifier was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/receipts/{id}/download:
    get:
      tags:
        - receipt
      operationId: download-receipt
      summary: Download a Receipt
      description: Downloads the fiscal Receipt as a PDF document.
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: A binary stream containing the Receipt PDF.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/terminals:
    get:
      tags:
        - terminal
      operationId: list-terminal
      summary: List all Terminals
      parameters:
        - name: paymentGatewayAccountId
          in: query
          required: false
          description: Filter by the PaymentGatewayAccount the Terminal belongs to.
          schema:
            type: string
        - name: paymentGatewayId
          in: query
          required: false
          description: Filter by the PaymentGateway the Terminal belongs to.
          schema:
            type: string
        - name: storeId
          in: query
          required: false
          description: Filter by the Store the Terminal is bound to.
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter by Terminal status. When omitted, deleted Terminals are excluded.
          schema:
            $ref: '#/components/schemas/Terminals.TerminalStatus'
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with an `items` property that contains an array of Terminal objects, plus a `pagination` cursor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: An array containing the actual response elements, paginated by any request parameters.
                    items:
                      $ref: '#/components/schemas/Terminal'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/terminals/{id}:
    delete:
      tags:
        - terminal
      operationId: delete-terminal
      summary: Delete a Terminal
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: ''
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/stores:
    get:
      tags:
        - store
      operationId: list-store
      summary: List all Stores
      parameters:
        - name: name
          in: query
          required: false
          description: Filter by Stores whose name contains this value. The match is case-sensitive.
          schema:
            type: string
            maxLength: 100
        - name: isActive
          in: query
          required: false
          description: Filter by Store management status. When omitted, both active and inactive Stores are returned.
          schema:
            type: boolean
        - name: conceptStoreId
          in: query
          required: false
          description: Filter by the Stores assigned to this Concept Store.
          schema:
            $ref: '#/components/schemas/Id'
        - name: storeAreaId
          in: query
          required: false
          description: Filter by the Stores assigned to this Store Area.
          schema:
            $ref: '#/components/schemas/Id'
        - name: include
          in: query
          required: false
          description: Related data to embed in each Store. Omit to receive only the Store's own fields.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Stores.StoreInclude'
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with an `items` property that contains an array of up to `length` Stores, starting after Store `start`, ordered by name. Each entry in the array is a separate Store object. If no more Stores are available, the resulting array will be empty.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: An array containing the actual response elements, paginated by any request parameters.
                    items:
                      $ref: '#/components/schemas/Store'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - store
      operationId: create-store
      summary: Create a Store
      description: |
        Creates a Store for the authenticated Merchant. `conceptStoreName`, `storeAreaName` and the `status` object are never returned by this operation; retrieve the Store with the `include` parameter to read them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stores.StoreRequest'
            example:
              name: Trattoria Bella Vista
              slug: bella-vista
              externalId1: MILANO-01
              isActive: true
              address:
                streetName: Via Roma
                streetNumber: '1'
                city: Milano
                province: MI
                postalCode: '20100'
                country: IT
      responses:
        '201':
          description: Returns a Store object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/stores/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags:
        - store
      operationId: retrieve-store
      summary: Retrieve a Store
      parameters:
        - name: include
          in: query
          required: false
          description: Related data to embed in the Store. Omit to receive only the Store's own fields.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Stores.StoreInclude'
      responses:
        '200':
          description: Returns a Store object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - store
      operationId: update-store
      summary: Update a Store
      description: |
        Replaces every writable field of the Store. Fields omitted from the request body are cleared, not preserved. `conceptStoreName`, `storeAreaName` and the `status` object are never returned by this operation; retrieve the Store with the `include` parameter to read them.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stores.StoreRequest'
            example:
              name: Trattoria Bella Vista
              slug: bella-vista
              externalId1: MILANO-01
              isActive: false
      responses:
        '200':
          description: Returns the updated Store object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/concept_stores:
    get:
      tags:
        - conceptStore
      operationId: list-concept-store
      summary: List all Concept Stores
      parameters:
        - name: name
          in: query
          required: false
          description: Filter by Concept Stores whose name contains this value. The match is case-sensitive.
          schema:
            type: string
            maxLength: 100
        - name: ids
          in: query
          required: false
          description: Filter by a specific set of Concept Store identifiers.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Id'
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with an `items` property that contains an array of up to `length` Concept Stores, starting after Concept Store `start`, ordered by name. Each entry in the array is a separate Concept Store object. If no more Concept Stores are available, the resulting array will be empty.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: An array containing the actual response elements, paginated by any request parameters.
                    items:
                      $ref: '#/components/schemas/ConceptStore'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - conceptStore
      operationId: create-concept-store
      summary: Create a Concept Store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stores.ConceptStoreRequest'
            example:
              name: Bella Vista
              externalId1: BRAND-01
      responses:
        '201':
          description: Returns a Concept Store object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConceptStore'
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/concept_stores/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags:
        - conceptStore
      operationId: retrieve-concept-store
      summary: Retrieve a Concept Store
      responses:
        '200':
          description: Returns a Concept Store object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConceptStore'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - conceptStore
      operationId: update-concept-store
      summary: Update a Concept Store
      description: |
        Replaces every writable field of the Concept Store. Fields omitted from the request body are cleared, not preserved.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stores.ConceptStoreRequest'
            example:
              name: Bella Vista
              externalId1: BRAND-01
      responses:
        '200':
          description: Returns the updated Concept Store object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConceptStore'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - conceptStore
      operationId: delete-concept-store
      summary: Delete a Concept Store
      description: |
        Permanently deletes the Concept Store. The Stores that referenced it are never deleted: pass `migrateToConceptStoreId` to reassign them to another Concept Store, or omit it to leave them without one (their `conceptStoreId` becomes null).

        Call `GET /v1/stores?conceptStoreId={id}` first to list the Stores this operation will affect.
      parameters:
        - name: migrateToConceptStoreId
          in: query
          required: false
          description: The Concept Store the referencing Stores are reassigned to. It must belong to the authenticated Merchant and must be different from `id`. When omitted, the referencing Stores are left without a Concept Store.
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: The Concept Store has been deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/store_areas:
    get:
      tags:
        - storeArea
      operationId: list-store-area
      summary: List all Store Areas
      parameters:
        - name: name
          in: query
          required: false
          description: Filter by Store Areas whose name contains this value. The match is case-sensitive.
          schema:
            type: string
            maxLength: 100
        - name: ids
          in: query
          required: false
          description: Filter by a specific set of Store Area identifiers.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Id'
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with an `items` property that contains an array of up to `length` Store Areas, starting after Store Area `start`, ordered by name. Each entry in the array is a separate Store Area object. If no more Store Areas are available, the resulting array will be empty.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: An array containing the actual response elements, paginated by any request parameters.
                    items:
                      $ref: '#/components/schemas/StoreArea'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - storeArea
      operationId: create-store-area
      summary: Create a Store Area
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stores.StoreAreaRequest'
            example:
              name: Lombardia
      responses:
        '201':
          description: Returns a Store Area object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreArea'
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/store_areas/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags:
        - storeArea
      operationId: retrieve-store-area
      summary: Retrieve a Store Area
      responses:
        '200':
          description: Returns a Store Area object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreArea'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - storeArea
      operationId: update-store-area
      summary: Update a Store Area
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stores.StoreAreaRequest'
            example:
              name: Lombardia
      responses:
        '200':
          description: Returns the updated Store Area object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreArea'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - storeArea
      operationId: delete-store-area
      summary: Delete a Store Area
      description: |
        Permanently deletes the Store Area. The Stores that referenced it are never deleted: pass `migrateToStoreAreaId` to reassign them to another Store Area, or omit it to leave them without one (their `storeAreaId` becomes null).

        Call `GET /v1/stores?storeAreaId={id}` first to list the Stores this operation will affect.
      parameters:
        - name: migrateToStoreAreaId
          in: query
          required: false
          description: The Store Area the referencing Stores are reassigned to. It must belong to the authenticated Merchant and must be different from `id`. When omitted, the referencing Stores are left without a Store Area.
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: The Store Area has been deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/payment_gateways:
    get:
      tags:
        - paymentGateway
      operationId: list-payment-gateway
      summary: List all PaymentGateways
      parameters:
        - name: storeId
          in: query
          required: false
          description: Returns the PaymentGateways of the configuration the Store resolves to. Ignored when `paymentGatewayConfigurationId` is given.
          schema:
            type: string
        - name: paymentGatewayConfigurationId
          in: query
          required: false
          description: Returns the PaymentGateways of one specific configuration, in the form `pgc_01kg2gestgepdbmsn7hs6bsrwp`. With neither this nor `storeId`, the default configuration of the merchant is used.
          schema:
            type: string
        - name: all
          in: query
          required: false
          description: Specifies whether to return all payment gateways or only those that are enabled. If true, returns all payment gateways regardless of their enabled status. If false or omitted, returns only enabled payment gateways.
          schema:
            type: boolean
        - name: include
          in: query
          required: false
          description: An array of nested objects to include in the response.
          schema:
            type: array
            items:
              type: string
              enum:
                - Parameters
      responses:
        '200':
          description: |
            A dictionary with an `items` property that contains an array of PaymentGateway objects. Each entry in the array is a separate PaymentGateway object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentGateways.GetPaymentGatewaysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/reports/volumes:
    get:
      tags:
        - reports
      operationId: volumes-report
      summary: Volumes
      description: |
        Returns aggregated turnover for the given date range, broken down by PaymentGateway and optionally by Store and/or Company, together with the grand totals across all rows. This is the same data shown in the Volumes report of the Voucherly Dashboard.
      parameters:
        - name: fromDate
          in: query
          required: true
          description: Start of the reporting period (inclusive). Only the date part is considered.
          schema:
            type: string
            format: date-time
        - name: toDate
          in: query
          required: true
          description: End of the reporting period (inclusive). Only the date part is considered. Must be greater than or equal to `fromDate`, and the range cannot exceed 366 days.
          schema:
            type: string
            format: date-time
        - name: paymentMode
          in: query
          required: false
          description: Filter by payment mode. When omitted, wallet recharges are excluded and only payments are aggregated.
          schema:
            $ref: '#/components/schemas/Payments.PaymentMode'
        - name: groupBy
          in: query
          required: false
          description: How rows are grouped. Repeat the parameter to group by more than one dimension (e.g. `groupBy=Store&groupBy=Company`). When omitted, rows are aggregated per PaymentGateway only.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Reports.RevenuesGrouping'
        - name: paymentGatewayIds
          in: query
          required: false
          description: Filter by one or more PaymentGateway identifiers. Repeat the parameter to provide multiple values.
          schema:
            type: array
            items:
              type: string
        - name: storeIds
          in: query
          required: false
          description: Filter by one or more Store identifiers. Repeat the parameter to provide multiple values.
          schema:
            type: array
            items:
              type: string
        - name: companyIds
          in: query
          required: false
          description: Filter by one or more Company identifiers. Repeat the parameter to provide multiple values.
          schema:
            type: array
            items:
              type: string
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with an `items` property containing the per-PaymentGateway breakdown (paginated by any request parameters), a `pagination` cursor, and a `totals` object with the grand totals computed across the whole result set (not just the current page).
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: An array containing the per-PaymentGateway breakdown rows, paginated by any request parameters.
                    items:
                      $ref: '#/components/schemas/Reports.RevenuesDetails'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                  totals:
                    $ref: '#/components/schemas/Reports.RevenuesTotals'
                additionalProperties: false
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  parameters:
    IdPathParam:
      name: id
      in: path
      required: true
      description: Unique identifier for the object.
      schema:
        $ref: '#/components/schemas/Id'
    CustomerIdPathParam:
      name: customerId
      in: path
      required: true
      description: Unique identifier for the Customer.
      schema:
        $ref: '#/components/schemas/Id'
    PaymentMethodIdPathParam:
      name: paymentMethodId
      in: path
      required: true
      description: Unique identifier for the PaymentMethod.
      schema:
        $ref: '#/components/schemas/Id'
    AddressIdPathParam:
      name: addressId
      in: path
      required: true
      description: Unique identifier for the Address.
      schema:
        $ref: '#/components/schemas/Id'
    PageSizeQueryParam:
      name: length
      in: query
      required: false
      description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
      schema:
        type: integer
    PageStartQueryParam:
      name: start
      in: query
      required: false
      description: A cursor for pagination across multiple pages of results. Don’t include this parameter on the first call. Use the `nextStart` value returned in a previous response to request subsequent results.
      schema:
        type: string
  schemas:
    Stores.StoreRequest:
      type: object
      description: The writable fields of a Store. Every field is replaced on update; omitted optional fields are cleared.
      required:
        - name
      properties:
        conceptStoreId:
          type: string
          description: The ID of the Concept Store this Store belongs to. It must belong to the authenticated Merchant.
          nullable: true
          example: conce_01kg2gestgepdbmsn7hs6bsrwp
        storeAreaId:
          type: string
          description: The ID of the Store Area this Store belongs to. It must belong to the authenticated Merchant.
          nullable: true
          example: starea_01kg2gestgepdbmsn7hs6bsrwp
        name:
          type: string
          description: The display name of the Store. Leading and trailing whitespace is removed.
          maxLength: 100
          nullable: false
        slug:
          type: string
          description: A URL-safe identifier for the Store, unique across the Merchant. Leading and trailing whitespace is removed; a blank value is stored as null.
          maxLength: 120
          nullable: true
        pos:
          $ref: '#/components/schemas/Stores.StorePos'
        externalId1:
          type: string
          description: Your own identifier for the Store, unique across the Merchant. Required when `pos` is set. Leading and trailing whitespace is removed; a blank value is stored as null.
          maxLength: 50
          nullable: true
        externalId2:
          type: string
          description: A second identifier of your own for the Store, unique across the Merchant. Leading and trailing whitespace is removed; a blank value is stored as null.
          maxLength: 50
          nullable: true
        address:
          $ref: '#/components/schemas/Stores.StoreLocation'
        isActive:
          type: boolean
          description: Whether the Store is operational. Unlike the other optional fields, omitting it does not clear it but defaults it to true, so an update that leaves it out reactivates the Store.
          default: true
        paymentGatewayConfigurationId:
          type: string
          description: The ID of the PaymentGatewayConfiguration used by this Store. It must belong to the authenticated Merchant and be active. When null, the Merchant default configuration applies.
          nullable: true
          example: pgc_01kg2gestgepdbmsn7hs6bsrwp
        ecommerceIsActive:
          type: boolean
          description: Whether the Store accepts e-commerce orders.
        ecommerceDeliveryIsActive:
          type: boolean
          description: Whether the Store accepts e-commerce orders for delivery.
        ecommercePickupIsActive:
          type: boolean
          description: Whether the Store accepts e-commerce orders for pickup.
        ecommerceReservationIsActive:
          type: boolean
          description: Whether the Store accepts e-commerce reservations.
      additionalProperties: false
    Store:
      x-tags:
        - store
      x-displayName: Store
      type: object
      description: A Store is a point of sale of a Merchant, with its own address, POS connection and payment configuration.
      properties:
        id:
          type: string
          description: Unique identifier for the Store.
          nullable: false
          example: sto_01kg2gestgepdbmsn7hs6bsrwp
        conceptStoreId:
          type: string
          description: The ID of the Concept Store this Store belongs to.
          nullable: true
          example: conce_01kg2gestgepdbmsn7hs6bsrwp
        conceptStoreName:
          type: string
          description: The name of the Concept Store this Store belongs to. Returned only when `conceptStore` is requested through the `include` parameter. Retrieve the Concept Store from `/v1/concept_stores/{conceptStoreId}` to read its other fields.
          nullable: true
          readOnly: true
        storeAreaId:
          type: string
          description: The ID of the Store Area this Store belongs to.
          nullable: true
          example: starea_01kg2gestgepdbmsn7hs6bsrwp
        storeAreaName:
          type: string
          description: The name of the Store Area this Store belongs to. Returned only when `storeArea` is requested through the `include` parameter. Retrieve the Store Area from `/v1/store_areas/{storeAreaId}` to read its other fields.
          nullable: true
          readOnly: true
        name:
          type: string
          description: The display name of the Store.
          nullable: false
        slug:
          type: string
          description: A URL-safe identifier for the Store, unique across the Merchant.
          nullable: true
        pos:
          $ref: '#/components/schemas/Stores.StorePos'
        externalId1:
          type: string
          description: Your own identifier for the Store, unique across the Merchant.
          nullable: true
        externalId2:
          type: string
          description: A second identifier of your own for the Store, unique across the Merchant.
          nullable: true
        address:
          $ref: '#/components/schemas/Stores.StoreLocation'
        isActive:
          type: boolean
          description: Whether the Store is operational.
        paymentGatewayConfigurationId:
          type: string
          description: The ID of the PaymentGatewayConfiguration used by this Store. When null, the Merchant default configuration applies.
          nullable: true
          example: pgc_01kg2gestgepdbmsn7hs6bsrwp
        ecommerceIsActive:
          type: boolean
          description: Whether the Store accepts e-commerce orders.
        ecommerceDeliveryIsActive:
          type: boolean
          description: Whether the Store accepts e-commerce orders for delivery.
        ecommercePickupIsActive:
          type: boolean
          description: Whether the Store accepts e-commerce orders for pickup.
        ecommerceReservationIsActive:
          type: boolean
          description: Whether the Store accepts e-commerce reservations.
        status:
          allOf:
            - $ref: '#/components/schemas/Stores.StoreStatus'
          description: The current health of the Store POS connection. Returned only when `status` is requested through the `include` parameter, and only for active Stores that have `pos` configured.
          nullable: true
          readOnly: true
        createdOnUtc:
          type: string
          format: date-time
          description: The UTC timestamp when the Store was created.
          readOnly: true
      additionalProperties: false
    Stores.StoreInclude:
      type: string
      description: Related data that can be embedded in a Store response through the `include` parameter.
      enum:
        - conceptStore
        - storeArea
        - status
    Stores.StorePos:
      type: object
      description: The connection to the POS system that serves the Store. Setting it makes `externalId1` required.
      nullable: true
      required:
        - posId
        - posEndpoint
      properties:
        posId:
          type: string
          description: The identifier of the Store inside the POS system.
          maxLength: 10
          nullable: false
        posEndpoint:
          type: string
          description: The base URL of the POS system. A trailing slash is added when missing.
          format: uri
          maxLength: 200
          nullable: false
      additionalProperties: false
    Stores.StoreLocation:
      type: object
      description: The postal address of the Store.
      nullable: true
      required:
        - streetName
        - streetNumber
        - city
        - province
        - postalCode
        - country
      properties:
        streetName:
          type: string
          description: The street name.
          maxLength: 100
          nullable: false
        streetNumber:
          type: string
          description: The street number.
          maxLength: 20
          nullable: false
        city:
          type: string
          description: The city.
          maxLength: 100
          nullable: false
        province:
          type: string
          description: The two-letter province code.
          minLength: 2
          maxLength: 2
          nullable: false
        postalCode:
          type: string
          description: The postal code.
          minLength: 5
          maxLength: 20
          nullable: false
        country:
          type: string
          description: The country.
          maxLength: 100
          nullable: false
      additionalProperties: false
    Stores.StoreStatus:
      type: object
      description: The outcome of the periodic health checks Voucherly runs against the Store POS connection.
      readOnly: true
      properties:
        status:
          type: string
          description: The current health of the Store.
          enum:
            - Up
            - Degraded
            - Down
        currentStatusFromUtc:
          type: string
          format: date-time
          description: The UTC timestamp when the Store entered the current status.
        lastCheckedAtUtc:
          type: string
          format: date-time
          description: The UTC timestamp of the most recent health check.
        lastSuccessAtUtc:
          type: string
          format: date-time
          description: The UTC timestamp of the most recent successful health check.
          nullable: true
        consecutiveKos:
          type: integer
          format: int32
          description: The number of consecutive failed health checks.
        consecutiveOks:
          type: integer
          format: int32
          description: The number of consecutive successful health checks.
        lastResponseTimeMs:
          type: integer
          format: int32
          description: The response time of the most recent health check, in milliseconds.
      additionalProperties: false
    Stores.ConceptStoreRequest:
      type: object
      description: The writable fields of a Concept Store. Every field is replaced on update; omitted optional fields are cleared.
      required:
        - name
      properties:
        name:
          type: string
          description: The display name of the Concept Store, unique across the Merchant. Leading and trailing whitespace is removed.
          maxLength: 100
          nullable: false
        externalId1:
          type: string
          description: Your own identifier for the Concept Store, unique across the Merchant. Leading and trailing whitespace is removed; a blank value is stored as null.
          maxLength: 50
          nullable: true
        externalId2:
          type: string
          description: A second identifier of your own for the Concept Store, unique across the Merchant. Leading and trailing whitespace is removed; a blank value is stored as null.
          maxLength: 50
          nullable: true
      additionalProperties: false
    ConceptStore:
      x-tags:
        - conceptStore
      x-displayName: Concept Store
      type: object
      description: A Concept Store is a brand used to group Stores of the same Merchant.
      properties:
        id:
          type: string
          description: Unique identifier for the Concept Store.
          nullable: false
          example: conce_01kg2gestgepdbmsn7hs6bsrwp
        name:
          type: string
          description: The display name of the Concept Store, unique across the Merchant.
          nullable: false
        externalId1:
          type: string
          description: Your own identifier for the Concept Store, unique across the Merchant.
          nullable: true
        externalId2:
          type: string
          description: A second identifier of your own for the Concept Store, unique across the Merchant.
          nullable: true
        createdOnUtc:
          type: string
          format: date-time
          description: The UTC timestamp when the Concept Store was created.
          readOnly: true
      additionalProperties: false
    Stores.StoreAreaRequest:
      type: object
      description: The writable fields of a Store Area.
      required:
        - name
      properties:
        name:
          type: string
          description: The display name of the Store Area, unique across the Merchant. Leading and trailing whitespace is removed.
          maxLength: 100
          nullable: false
      additionalProperties: false
    StoreArea:
      x-tags:
        - storeArea
      x-displayName: Store Area
      type: object
      description: A Store Area is a geographical or operational grouping of Stores, defined by the Merchant.
      properties:
        id:
          type: string
          description: Unique identifier for the Store Area.
          nullable: false
          example: starea_01kg2gestgepdbmsn7hs6bsrwp
        name:
          type: string
          description: The display name of the Store Area, unique across the Merchant.
          nullable: false
        createdOnUtc:
          type: string
          format: date-time
          description: The UTC timestamp when the Store Area was created.
          readOnly: true
    Id:
      type: string
      description: Unique identifier for the object.
      nullable: false
      readOnly: true
    Company:
      x-tags:
        - company
      x-displayName: Company
      type: object
      description: The Company object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        merchantId:
          type: string
          format: uuid
          description: The ID of the merchant this Company belongs to, that is your own merchant.
        tenant:
          $ref: '#/components/schemas/TenantMode'
        joinCode:
          type: string
          description: A unique 6-character code that can be used to join or reference this Company.
          nullable: false
          minLength: 6
          maxLength: 6
        name:
          type: string
          description: Company name.
          nullable: false
        priceAdjustmentPercentage:
          type: integer
          format: int32
          description: The percentage applied to catalogue prices for this Company. Positive values raise them, negative values lower them.
        prepaidPolicy:
          allOf:
            - $ref: '#/components/schemas/Customers.PrepaidPolicy'
          description: The prepaid policy applied to the Customers of this Company.
          readOnly: true
        packagingType:
          type: string
          enum:
            - Reusable
            - Disposable
          description: The packaging used by the Customers of this Company that do not set one of their own. Null when the Company follows the ecommerce site default.
          nullable: true
          readOnly: true
        addresses:
          type: array
          description: An array of delivery addresses associated with this Company. Each address can have specific delivery fees and store information.
          items:
            $ref: '#/components/schemas/CompanyAddressForExternalApi'
          nullable: true
          readOnly: true
      additionalProperties: false
    CreateCompanyRequest:
      type: object
      description: Request body for creating a Company.
      required:
        - name
      properties:
        joinCode:
          type: string
          description: A unique 6-character code that can be used to join or reference this Company.
          nullable: false
          minLength: 6
          maxLength: 6
        name:
          type: string
          description: Company name.
          nullable: false
      additionalProperties: false
    Customer:
      x-displayName: Customer
      x-tags:
        - customer
      type: object
      description: The Customer object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        merchantId:
          type: string
          format: uuid
          description: The ID of the merchant this Customer belongs to, that is your own merchant.
        tenant:
          $ref: '#/components/schemas/TenantMode'
        created:
          type: string
          format: date-time
          description: The date and time the Customer was created, in UTC.
        email:
          type: string
          description: The customer’s email address.
          nullable: false
        firstName:
          type: string
          description: The customer’s first name.
          nullable: true
        lastName:
          type: string
          description: The customer’s last name.
          nullable: true
        phoneNumber:
          type: string
          description: The customer’s phone number.
          nullable: true
        referenceId:
          type: string
          description: A unique identifier from your system that you can use to reference this Customer. This can be used to reconcile the Customer with your internal systems.
          nullable: true
        companyId:
          type: string
          description: The ID of the Company this Customer is associated with.
          nullable: true
        company:
          allOf:
            - $ref: '#/components/schemas/Company'
          description: The Company this Customer is associated with, returned in full when one exists.
          nullable: true
          readOnly: true
        packaging:
          $ref: '#/components/schemas/Customers.Packaging'
        wallet:
          allOf:
            - $ref: '#/components/schemas/Customers.CustomerWalletTotals'
          readOnly: true
        spendData:
          $ref: '#/components/schemas/Customers.SpendData'
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    Customers.Packaging:
      type: object
      description: The packaging set on the Customer itself, for merchants that operate a reusable container scheme. Absent when the Customer inherits both the type and the deposit.
      nullable: true
      readOnly: true
      properties:
        type:
          type: string
          enum:
            - Reusable
            - Disposable
          description: Whether the Customer is on reusable or disposable packaging. Null when the Customer inherits the type from its Company, or from the ecommerce site default.
          nullable: true
        isDepositPaid:
          type: boolean
          description: Whether the deposit on the reusable packaging has been paid.
          nullable: true
      additionalProperties: false
    Customers.SpendData:
      type: object
      description: Aggregated spending history of the Customer.
      nullable: true
      readOnly: true
      properties:
        totalSpentAmount:
          type: integer
          format: int64
          description: The total amount the Customer has spent, in cents.
        totalRefundedAmount:
          type: integer
          format: int64
          description: The total amount refunded to the Customer, in cents.
        noOfPayments:
          type: integer
          format: int32
          description: The number of Payments the Customer has completed.
        averagePaymentAmount:
          type: integer
          format: int32
          description: The average amount of the Customer's Payments, in cents.
        firstPaymentOnOtc:
          type: string
          format: date-time
          description: The date and time of the Customer's first Payment, in UTC. The property name carries a typo that is part of the wire format.
        lastPaymentOnUtc:
          type: string
          format: date-time
          description: The date and time of the Customer's most recent Payment, in UTC.
      additionalProperties: false
    CreateCustomerRequest:
      type: object
      description: Request body for creating a Customer.
      properties:
        email:
          type: string
          description: The customer’s email address.
          nullable: false
        firstName:
          type: string
          description: The customer’s first name.
          nullable: true
        lastName:
          type: string
          description: The customer’s last name.
          nullable: true
        phoneNumber:
          type: string
          description: The customer’s phone number.
          nullable: true
        companyId:
          type: string
          description: The ID of the Company this Customer is associated with.
          nullable: true
        metadata:
          $ref: '#/components/schemas/Metadata'
        options:
          type: object
          description: Optional settings for customer creation.
          required:
            - requireUniqueEmail
          properties:
            requireUniqueEmail:
              type: boolean
              description: If true, the API will return an error if a customer with the same email address already exists. If false, allows duplicate emails.
          additionalProperties: false
      additionalProperties: false
    UpdateCustomerRequest:
      type: object
      description: Request body for updating a Customer. Any field not provided will be left unchanged. `referenceId` cannot be changed via this endpoint.
      properties:
        email:
          type: string
          description: The customer’s email address.
          nullable: false
        firstName:
          type: string
          description: The customer’s first name.
          nullable: true
        lastName:
          type: string
          description: The customer’s last name.
          nullable: true
        phoneNumber:
          type: string
          description: The customer’s phone number.
          nullable: true
        companyId:
          type: string
          description: The ID of the Company this Customer is associated with. Pass `null` to detach the Customer from its Company.
          nullable: true
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: false
    Customers.CustomerWalletTotals:
      type: object
      description: Summary information about the Customer's wallet, including total amounts and last update timestamp.
      properties:
        totalAmount:
          type: integer
          format: int64
          description: The total amount available in the customer's wallet, in cents.
        totalVoucherAmount:
          type: integer
          format: int64
          description: The total amount of voucher funds available in the customer's wallet, in cents.
        totalCashAmount:
          type: integer
          format: int64
          description: The total amount of cash funds available in the customer's wallet, in cents.
        lastUpdatedOnUtc:
          type: string
          format: date-time
          description: The UTC timestamp of when the wallet totals were last updated.
      additionalProperties: false
    CreditCardInfo:
      type: object
      description: If this is a card PaymentMethod, this contains the user’s card details.
      properties:
        brand:
          type: string
          description: Card brand
          nullable: false
        pan:
          type: string
          description: Card masked PAN
          nullable: false
        expiration:
          type: string
          description: The card's expiration date, typically in MM/YY format.
          nullable: false
        expirationMonth:
          type: integer
          format: int32
          description: Two-digit number representing the card’s expiration month.
          readOnly: true
        expirationYear:
          type: integer
          format: int32
          description: Four-digit number representing the card’s expiration year.
          readOnly: true
        product:
          type: string
          description: The card product type (e.g., "Visa Classic", "Mastercard Gold").
          nullable: false
      additionalProperties: false
    DirectDebitInfo:
      type: object
      description: If this is a sepa_debit PaymentMethod, this contains the user’s card details.
      properties:
        accountId:
          type: string
          description: ID of the bank account.
          nullable: false
        accountBic:
          type: string
          description: BIC of the bank account.
          nullable: false
        accountIban:
          type: string
          description: IBAN of the bank account.
          nullable: false
      additionalProperties: false
    Metadata:
      type: object
      description: Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format. It can contain up to 10 key-value items with a maximum length of 40 for the key and of 400 chars for the value.
      additionalProperties:
        type: string
      nullable: true
    PaginationResponse:
      type: object
      properties:
        hasMore:
          type: boolean
          description: Whether or not there are more elements available after this set. If false, this set comprises the end of the list.
          nullable: false
        nextStart:
          type: string
          description: A cursor for use in pagination. If `hasMore` is true, you can pass the value of `nextStart` to a subsequent call to fetch the next page of results.
          nullable: true
      additionalProperties: false
    PaymentMethod:
      x-displayName: Payment Method
      x-tags:
        - paymentMethod
      type: object
      description: The PaymentMethod object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        customerId:
          type: string
          description: The ID of the Customer to which this PaymentMethod is saved.
          nullable: false
        paymentGatewayAccountId:
          type: string
          description: The ID of the PaymentGatewayAccount that holds this PaymentMethod.
          nullable: true
        paymentGatewayId:
          type: string
          description: The ID of the PaymentGateway through which this PaymentMethod is processed.
          nullable: false
        externalId:
          type: string
          description: The ID of the PaymentMethod as registered in the external PaymentGateway system. Used to reference the method in operations with the provider.
          nullable: false
        holderEmail:
          type: string
          description: Email address associated with the PaymentMethod holder. This may differ from the Customer's email.
          nullable: false
        holderName:
          type: string
          description: Full name of the individual or entity that owns the PaymentMethod. This may differ from the Customer's registered name.
          nullable: false
        creditCard:
          $ref: '#/components/schemas/CreditCardInfo'
        directDebit:
          $ref: '#/components/schemas/DirectDebitInfo'
      additionalProperties: false
    Payment:
      x-displayName: Payment
      x-tags:
        - payment
      type: object
      description: The Payment object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        tenant:
          $ref: '#/components/schemas/TenantMode'
        merchantId:
          type: string
          format: uuid
          description: The ID of the merchant this Payment belongs to, that is your own merchant.
          readOnly: true
        referenceId:
          type: string
          description: A unique string to reference the Payment. This can be a customer ID, a cart ID, or similar, and can be used to reconcile the Payment with your internal systems.
          nullable: true
        externalOrderId:
          type: string
          description: The identifier of the order this Payment settles in your own systems.
          nullable: true
        mode:
          $ref: '#/components/schemas/Payments.PaymentMode'
        parentPaymentId:
          type: string
          description: The ID of the parent Payment, if this Payment is a child payment (e.g., a wallet).
          nullable: true
          readOnly: true
        companyId:
          type: string
          description: The ID of the Company this Payment is associated with.
          nullable: true
        storeId:
          type: string
          description: The ID of the Store this Payment belongs to.
          nullable: true
        customerId:
          type: string
          description: The ID of the Customer of this Payment.
          nullable: true
        customerEmail:
          type: string
          description: The email address of the customer associated with this Payment. Required when `customerId` is not provided.
          nullable: true
        customerFirstName:
          type: string
          description: The first name of the customer associated with this Payment.
          nullable: true
        customerLastName:
          type: string
          description: The last name of the customer associated with this Payment.
          nullable: true
        customerPhoneNumber:
          type: string
          description: The phone number of the customer associated with this Payment.
          nullable: true
        selectedPaymentGateway:
          type: string
          description: The ID of the PaymentGateway preselected for the first transaction.
          nullable: true
        paymentGatewayConfigurationId:
          type: string
          description: The ID of the PaymentGatewayAccount used to process this Payment.
          nullable: true
        checkoutUrl:
          type: string
          description: The URL where the customer should be redirected to complete the payment. This URL is provided after creating a Payment and should be used to redirect the customer to the Voucherly checkout page.
          nullable: true
          readOnly: true
        callbackUrl:
          type: string
          description: The URL Voucherly calls server to server when the Payment changes status.
          nullable: true
        closeCheckout:
          $ref: '#/components/schemas/Payments.PaymentCloseCheckout'
        callback:
          $ref: '#/components/schemas/Payments.PaymentLastCallback'
        totalAmount:
          type: integer
          format: int32
          description: The total amount of the payment before discounts, in cents. This is the sum of all line items.
          readOnly: true
        discountAmount:
          type: integer
          format: int32
          description: The total amount of discounts applied to the payment, in cents. This is the sum of all discount amounts.
          readOnly: true
        finalAmount:
          type: integer
          format: int32
          description: The final amount to be paid after applying all discounts, in cents. This is calculated as totalAmount - discountAmount.
          readOnly: true
        foodAmount:
          type: integer
          format: int32
          description: The part of finalAmount that meal vouchers can pay, in cents. It is the sum of the food lines after their discounts, capped at finalAmount.
          readOnly: true
        paidAmount:
          type: integer
          format: int32
          description: The total amount that has been paid so far, in cents. This includes both regular payments and voucher payments.
          readOnly: true
        paidDigitalAmount:
          type: integer
          format: int32
          description: The amount that has been paid with a digital payment method, in cents.
          readOnly: true
        paidVoucherAmount:
          type: integer
          format: int32
          description: The amount that has been paid using vouchers, in cents.
          readOnly: true
        paidFringeAmount:
          type: integer
          format: int32
          description: The amount that has been paid with a fringe benefit credit, in cents.
          readOnly: true
        paidCashAmount:
          type: integer
          format: int32
          description: The amount that has been paid in cash, in cents.
          readOnly: true
        amount:
          type: integer
          format: int32
          description: The remaining amount to be paid, in cents. This is calculated as finalAmount - paidAmount.
          readOnly: true
        status:
          allOf:
            - $ref: '#/components/schemas/Payments.PaymentStatus'
          readOnly: true
        confirmedAmount:
          type: integer
          format: int32
          description: The amount that has been confirmed (captured), in cents.
          readOnly: true
        confirmedOnUtc:
          type: string
          format: date-time
          description: The date and time the Payment was confirmed, in UTC.
          nullable: true
          readOnly: true
        cancelledAmount:
          type: integer
          format: int32
          description: The amount that has been cancelled, in cents.
          readOnly: true
        refundedAmount:
          type: integer
          format: int32
          description: The amount that has been refunded, in cents.
          readOnly: true
        refundedOnUtc:
          type: string
          format: date-time
          description: The date and time the Payment was refunded, in UTC.
          nullable: true
          readOnly: true
        receiptId:
          type: string
          description: The ID of the Receipt issued for this Payment.
          nullable: true
          readOnly: true
        refundReceiptId:
          type: string
          description: The ID of the Receipt issued for the refund of this Payment.
          nullable: true
          readOnly: true
        receipt:
          allOf:
            - $ref: '#/components/schemas/Receipt'
          description: The Receipt issued for this Payment.
          readOnly: true
        refundReceipt:
          allOf:
            - $ref: '#/components/schemas/Receipt'
          description: The Receipt issued for the refund of this Payment.
          readOnly: true
        created:
          type: string
          format: date-time
          description: The date and time the Payment was created, in UTC.
          readOnly: true
        metadata:
          $ref: '#/components/schemas/Metadata'
        transactions:
          type: array
          description: An array of Transaction objects representing all payment attempts and transactions associated with this Payment.
          items:
            $ref: '#/components/schemas/Payments.Transaction'
          readOnly: true
        discounts:
          type: array
          description: An array of PaymentDiscount objects representing all discounts applied to this Payment.
          items:
            $ref: '#/components/schemas/Payments.PaymentDiscount'
        lines:
          type: array
          description: An array of PaymentLine objects representing the line items (products or services) included in this Payment.
          items:
            $ref: '#/components/schemas/Payments.PaymentLine'
          readOnly: true
      additionalProperties: false
    CreatePaymentRequest:
      type: object
      description: Request body for creating a Payment.
      required:
        - mode
      properties:
        referenceId:
          type: string
          description: A unique string to reference the Payment. This can be a customer ID, a cart ID, or similar, and can be used to reconcile the Payment with your internal systems.
          nullable: true
        referenceDate:
          type: string
          format: date
          description: The date this Payment refers to in your own system, when it differs from the date it is created on.
          nullable: true
        mode:
          $ref: '#/components/schemas/Payments.PaymentMode'
        companyId:
          type: string
          description: |
            The ID of the Company this Payment is associated with. If empty, the Company associated with the Customer will be used, if one exists.

            You cannot specify both `customerId` and `companyId` at the same time.
          nullable: true
        customerId:
          type: string
          description: The ID of the Customer of this Payment. If empty a new Customer will be created.
          nullable: true
        customerEmail:
          type: string
          description: The email address of the customer associated with this Payment. Required when `customerId` is not provided.
          nullable: true
        customerFirstName:
          type: string
          description: The first name of the customer associated with this Payment.
          nullable: true
        customerLastName:
          type: string
          description: The last name of the customer associated with this Payment.
          nullable: true
        customerPhoneNumber:
[...]
